.language-toggle-btn {
  background: var(--bg-primary);
  border: 1px solid var(--btn-primary-bg);
  border-radius: 30%;
  padding: 8px;
  color: var(--text-secondary);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.language-toggle-btn:hover {
  background: var(--btn-primary-bg-hover);
  border-color: var(--btn-primary-bg-hover);
  color: var(--text-primary);
}

