.header-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)), url(../../../public/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    color: var(--primary-color);
    /* Utiliza rgba para agregar opacidad al color de fondo */
}

.icon--background{
    background-color: var(--third-color);
}

.subtitle--color{
    color: var(--third-color);
}